<a href="https://colab.research.google.com/github/sunshineluyao/EthereumETL-Instructions/blob/main/Demo_Ethereum_Blockchain_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**References**: https://github.com/blockchain-etl/ethereum-etl

# Part I: Install Required Dependancies

In [ ]:
# install ethereum-etl and pandas
!python -m pip install ethereum-etl pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ethereum-etl
  Downloading ethereum-etl-2.1.1.tar.gz (336 kB)
     |████████████████████████████████| 336 kB 5.2 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Collecting web3<6,>=5.29
  Downloading web3-5.31.1-py3-none-any.whl (501 kB)
     |████████████████████████████████| 501 kB 30.9 MB/s
Collecting eth-utils==1.10
  Downloading eth_utils-1.10.0-py3-none-any.whl (24 kB)
Collecting eth-abi==2.1.1
  Downloading eth_abi-2.1.1-py3-none-any.whl (27 kB)
Requirement already satisfied: python-dateutil<3,>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from ethereum-etl) (2.8.2)
Collecting click==8.0.4
  Downloading click-8.0.4-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 1.4 MB/s
Collecting ethereum-dasm==0.1.4
  Downloading ethereum_dasm-0.1.4-py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 1.8 MB/s
Collecting base58
  Downloading base58-2.1.1-py3-none-any.whl (5.6 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from ethereum-etl) (2.23.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from click==8.0.4->ethereum-etl) (4.13.0)
Collecting parsimonious<0.9.0,>=0.8.0
  Downloading parsimonious-0.8.1.tar.gz (45 kB)
     |████████████████████████████████| 45 kB 1.3 MB/s
Collecting eth-typing<3.0.0,>=2.0.0
  Downloading eth_typing-2.3.0-py3-none-any.whl (6.2 kB)
Collecting cytoolz<1.0.0,>=0.10.1
  Downloading cytoolz-0.12.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 34.1 MB/s
Collecting eth-hash<0.4.0,>=0.3.1
  Downloading eth_hash-0.3.3-py3-none-any.whl (8.9 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from ethereum-dasm==0.1.4->ethereum-etl) (0.8.10)
Collecting evmdasm
  Downloading evmdasm-0.1.10-py3-none-any.whl (14 kB)
Collecting colorama
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: toolz>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from cytoolz<1.0.0,>=0.10.1->eth-utils==1.10->ethereum-etl) (0.12.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from parsimonious<0.9.0,>=0.8.0->eth-abi==2.1.1->ethereum-etl) (1.15.0)
Collecting ipfshttpclient==0.8.0a2
  Downloading ipfshttpclient-0.8.0a2-py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 685 kB/s
Collecting hexbytes<1.0.0,>=0.1.0
  Downloading hexbytes-0.3.0-py3-none-any.whl (6.4 kB)
Collecting eth-account<0.6.0,>=0.5.9
  Downloading eth_account-0.5.9-py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 10.3 MB/s
Collecting websockets<10,>=9.1
  Downloading websockets-9.1-cp37-cp37m-manylinux2010_x86_64.whl (103 kB)
     |████████████████████████████████| 103 kB 63.2 MB/s
Collecting protobuf==3.19.5
  Downloading protobuf-3.19.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 51.9 MB/s
Collecting eth-hash[pycryptodome]<1.0.0,>=0.2.0
  Downloading eth_hash-0.5.0-py3-none-any.whl (8.9 kB)
Requirement already satisfied: aiohttp<4,>=3.7.4.post0 in /usr/local/lib/python3.7/dist-packages (from web3<6,>=5.29->ethereum-etl) (3.8.3)
Collecting eth-rlp<0.3
  Downloading eth_rlp-0.2.1-py3-none-any.whl (5.0 kB)
Collecting lru-dict<2.0.0,>=1.1.6
  Downloading lru_dict-1.1.8-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26 kB)
Requirement already satisfied: jsonschema<5,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from web3<6,>=5.29->ethereum-etl) (4.3.3)
Requirement already satisfied: typing-extensions<5,>=3.7.4.1 in /usr/local/lib/python3.7/dist-packages (from web3<6,>=5.29->ethereum-etl) (4.1.1)
Collecting multiaddr>=0.0.7
  Downloading multiaddr-0.0.9-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (6.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (2.1.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (1.8.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (1.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (1.3.1)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (0.13.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (22.1.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (4.0.2)
Collecting eth-keyfile<0.6.0,>=0.5.0
  Downloading eth_keyfile-0.5.1-py3-none-any.whl (8.3 kB)
Collecting eth-keys<0.4.0,>=0.3.4
  Downloading eth_keys-0.3.4-py3-none-any.whl (21 kB)
Collecting rlp<3,>=1.0.0
  Downloading rlp-2.0.1-py2.py3-none-any.whl (20 kB)
Collecting bitarray<3,>=1.2.1
  Downloading bitarray-2.6.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (235 kB)
     |████████████████████████████████| 235 kB 44.9 MB/s
Collecting eth-hash[pycryptodome]<1.0.0,>=0.2.0
  Downloading eth_hash-0.4.0-py3-none-any.whl (9.0 kB)
Collecting pycryptodome<4,>=3.6.6
  Downloading pycryptodome-3.15.0-cp35-abi3-manylinux2010_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 54.7 MB/s
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema<5,>=3.2.0->web3<6,>=5.29->ethereum-etl) (0.19.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema<5,>=3.2.0->web3<6,>=5.29->ethereum-etl) (5.10.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema<5,>=3.2.0->web3<6,>=5.29->ethereum-etl) (3.10.0)
Collecting varint
  Downloading varint-1.0.2.tar.gz (1.9 kB)
Collecting netaddr
  Downloading netaddr-0.8.0-py2.py3-none-any.whl (1.9 MB)
     |████████████████████████████████| 1.9 MB 42.3 MB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->ethereum-etl) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->ethereum-etl) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->ethereum-etl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->ethereum-etl) (2022.9.24)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Building wheels for collected packages: ethereum-etl, parsimonious, varint
  Building wheel for ethereum-etl (setup.py) ... done
  Created wheel for ethereum-etl: filename=ethereum_etl-2.1.1-py3-none-any.whl size=438799 sha256=a37ea732957554fe43bb015d3da2d2c175d342142eb7360ec48a3cfd92d38250
  Stored in directory: /root/.cache/pip/wheels/58/a3/4c/99f11663d9e8a07aa7fa3581096509202c016391e03a9009dd
  Building wheel for parsimonious (setup.py) ... done
  Created wheel for parsimonious: filename=parsimonious-0.8.1-py3-none-any.whl size=42724 sha256=b5614aba14efe00802ed6f2c285fb9dcba10f65beab4a0b751bf2f0f15f6486b
  Stored in directory: /root/.cache/pip/wheels/88/5d/ba/f27d8af07306b65ee44f9d3f9cadea1db749a421a6db8a99bf
  Building wheel for varint (setup.py) ... done
  Created wheel for varint: filename=varint-1.0.2-py3-none-any.whl size=1981 sha256=1547a474d74adc8d7d348ac2a8ab167790ea22cc66450667f81c75f838b95d3e
  Stored in directory: /root/.cache/pip/wheels/69/21/07/09f1c6a7d9b59377aa6d98da6efdd670f7ca40aabd93d02704
Successfully built ethereum-etl parsimonious varint
Installing collected packages: eth-typing, eth-hash, cytoolz, eth-utils, varint, rlp, pycryptodome, parsimonious, netaddr, hexbytes, eth-keys, base58, multiaddr, eth-rlp, eth-keyfile, eth-abi, bitarray, websockets, protobuf, lru-dict, ipfshttpclient, evmdasm, eth-account, colorama, web3, ethereum-dasm, click, ethereum-etl
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.17.3
    Uninstalling protobuf-3.17.3:
      Successfully uninstalled protobuf-3.17.3
  Attempting uninstall: click
    Found existing installation: click 7.1.2
    Uninstalling click-7.1.2:
      Successfully uninstalled click-7.1.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 1.1.4 requires click<8.0,>=5.1, but you have click 8.0.4 which is incompatible.
Successfully installed base58-2.1.1 bitarray-2.6.0 click-8.0.4 colorama-0.4.6 cytoolz-0.12.0 eth-abi-2.1.1 eth-account-0.5.9 eth-hash-0.3.3 eth-keyfile-0.5.1 eth-keys-0.3.4 eth-rlp-0.2.1 eth-typing-2.3.0 eth-utils-1.10.0 ethereum-dasm-0.1.4 ethereum-etl-2.1.1 evmdasm-0.1.10 hexbytes-0.3.0 ipfshttpclient-0.8.0a2 lru-dict-1.1.8 multiaddr-0.0.9 netaddr-0.8.0 parsimonious-0.8.1 protobuf-3.19.5 pycryptodome-3.15.0 rlp-2.0.1 varint-1.0.2 web3-5.31.1 websockets-9.1

# Part II: Mount Google Drive for Result Exports

In [ ]:
# mount google drive
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# print the current directory
!pwd

/content

In [ ]:
#@title path
#create a project folder and identify the path
path = "/content/drive/MyDrive/EthereumETL" #@param {type:"string"}

In [ ]:
#go to your project folder 
%cd /content/drive/MyDrive/EthereumETL

/content/drive/MyDrive/EthereumETL

In [ ]:
# print the current directory again to make sure that you are in the project folder
!pwd

/content/drive/MyDrive/EthereumETL

# Part III: Query Data and Export CSV

## 0.Register Accounts on Remote Nodes Service and Get the URLs of the Nodes

### Remote node option 1: Infura

!!! Important Notes: Please replace https://mainnet.infura.io/v3/API_kEY with your own endpoints for all the codes below

In [ ]:
#@title Import using the Infura node
infura_end_points_URL = "https://mainnet.infura.io/v3/API_kEY" #@param {type:"string"}

### Remote node option 2: Alchemy

## Remote node option 3: Quick nodes



Data Range: We are going to query the block and transaction data for the ethereum blockchain before and after the merge (block number: 15537393 on September 15)

Reference; 
https://www.investopedia.com/ethereum-completes-the-merge-6666337

In [ ]:
#@title the merge
merge = 15537393 #@param {type:"number"}

In [ ]:
#@title data radius
radius = 100 #@param {type:"number"}

In [ ]:
### find the start and the end
start = merge-radius
end = merge+radius
print(start, end)

15537293 15537493

## 1. Query Block Data

In [ ]:
!ethereumetl export_blocks_and_transactions --start-block 15537293 --end-block 15537493 --blocks-output blocks.csv --provider-uri https://mainnet.infura.io/v3/API_kEY

2022-11-09 02:31:17,712 - ProgressLogger [INFO] - Started work. Items to process: 201.
2022-11-09 02:31:18,606 - ProgressLogger [INFO] - 101 items processed. Progress is 50%.
2022-11-09 02:31:18,758 - ProgressLogger [INFO] - 201 items processed. Progress is 100%.
2022-11-09 02:31:18,759 - ProgressLogger [INFO] - Finished work. Total items processed: 201. Took 0:00:01.046225.
2022-11-09 02:31:18,760 - CompositeItemExporter [INFO] - block items exported: 201
2022-11-09 02:31:18,760 - CompositeItemExporter [INFO] - transaction items exported: 0

In [ ]:
# import libraries to print data frame
import pandas as pd

In [ ]:
# set to print the maximum numbers of rows
pd.set_option('display.max_rows', None)

In [ ]:
df_blocks = pd.read_csv('./blocks.csv')
display(df_blocks.head())

,number,hash,parent_hash,nonce,sha3_uncles,logs_bloom,transactions_root,state_root,receipts_root,miner,difficulty,total_difficulty,size,extra_data,gas_limit,gas_used,timestamp,transaction_count,base_fee_per_gas
0,15537493,0x0ac7d9aa5886b66b8bdc217a2dd06d3393d6712c7486...,0x3dabb8d96bfc2dfeef5fad9be48afdb90a0d9011865d...,0x0000000000000000,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0xbeeb99627dba38deb8e2787882147539d2f97d83576a...,0xd022396d6bae98c72adec4fc96aa60bed379186af1fe...,0x59b2d3cd234a375192dba0b038096f58902d042315e6...,0xd0488afff24558eea6ae67ec9f09edfc84a722d1fb6d...,0x54cd0e6771b6487c721ec620c4de1240d3b07696,0,58750003716598352816469,212002,0x,30000000,29427315,1663225391,273,35073582545
1,15537393,0x55b11b918355b1ef9c5db810302ebad0bf2544255b53...,0x2b3ea3cd4befcab070812443affb08bf17a91ce382c7...,0x62a3ee77461d4fc9,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0x00000400000000000000000000000000000000000000...,0xdd5eec02b019ff76e359b09bfa19395a2a0e97bc01e7...,0x4919dafa6ac8becfbbd0c2808f6c9511a057c21e4283...,0xbaa842cfd552321a9c2450576126311e071680a12580...,0x829bd824b016326a401d083b33d092293333a830,11055787484078698,58750003716598352816469,1636,0xe4b883e5bda9e7a59ee4bb99e9b1bc460021,30000000,29991429,1663224162,1,43391016710
2,15537394,0x56a9bb0302da44b8c0b3df540781424684c3af04d0b7...,0x55b11b918355b1ef9c5db810302ebad0bf2544255b53...,0x0000000000000000,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0xffffffffffffffffffffffffffffffffffffffffffff...,0x1ea1746468686159ce730c1cc49a886721244e5d1fa9...,0x40c07091e16263270f3579385090fea02dd5f061ba67...,0x928073fb98ce316265ea35d95ab7e2e1206cecd85242...,0xeee27662c2b8eba3cd936a23f039f3189633e4c8,0,58750003716598352816469,18559,0x,30000000,29983006,1663224179,80,48811794595
3,15537395,0xe37e1a183a3d1c7234d090bfb7196081635919c26f2e...,0x56a9bb0302da44b8c0b3df540781424684c3af04d0b7...,0x0000000000000000,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0xffffffffffffffffffffffffffffffffffffffffffff...,0x5c56184fbce74e9c98d2a51aa2110963396047d84e8c...,0x2ca38a39c5517f658d107c19550334a9820a7393d148...,0x1707e457973ce280debe93f5d478663d97ad192beea1...,0x0b3b161b8abeb6b04cb95c3e6047f80c120a0292,0,58750003716598352816469,36978,0x,30000000,29982083,1663224191,29,54906356355
4,15537396,0x98c735877f2f30bad54fc46ba8bcd93a54da32a60b29...,0xe37e1a183a3d1c7234d090bfb7196081635919c26f2e...,0x0000000000000000,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0x95248824802c120a80100904f00200b8aa1806824c80...,0xf103ec8f4895f63748a3f8d182af659736d1fc593d71...,0xe6b8248ff047d9f34ecd82bcc1af2f45e08cd9157168...,0xf39845a5eabaa2848ff4c6bec8b1ede03ac5e6aa475e...,0x388c818ca8b9251b393131c08a736a67ccb19297,0,58750003716598352816469,40259,0x,30000000,29980461,1663224203,170,61761452922

## 2. Query Transaction Data

In [ ]:
!ethereumetl export_blocks_and_transactions --start-block 15537293 --end-block 15537493 --transactions-output transactions.csv --provider-uri https://mainnet.infura.io/v3/API_kEY

2022-11-09 02:35:07,283 - ProgressLogger [INFO] - Started work. Items to process: 201.
2022-11-09 02:35:13,531 - ProgressLogger [INFO] - 101 items processed. Progress is 50%.
2022-11-09 02:35:14,846 - ProgressLogger [INFO] - 201 items processed. Progress is 100%.
2022-11-09 02:35:14,847 - ProgressLogger [INFO] - Finished work. Total items processed: 201. Took 0:00:07.563149.
2022-11-09 02:35:14,847 - CompositeItemExporter [INFO] - block items exported: 0
2022-11-09 02:35:14,849 - CompositeItemExporter [INFO] - transaction items exported: 26358

In [ ]:
df_transactions = pd.read_csv('./transactions.csv')
display(df_transactions.head())

,hash,nonce,block_hash,block_number,transaction_index,from_address,to_address,value,gas,gas_price,input,block_timestamp,max_fee_per_gas,max_priority_fee_per_gas,transaction_type
0,0xe683eda92e8b18c95c23e8a8dc64256b1d02110401ae...,14,0x0ac7d9aa5886b66b8bdc217a2dd06d3393d6712c7486...,15537493,0,0x035baccc3c7daed66211f54e0077e69a2eaeefdc,0x0585b2d1df27523712561163f73210096202ad52,2992536798928828425,21000,96667059748,0x,1663225391,NaN,NaN,0
1,0x3448496be0ce2563f06f96f72fd821bd2b7ba6c86bd3...,9142,0x0ac7d9aa5886b66b8bdc217a2dd06d3393d6712c7486...,15537493,1,0x7dacfce9eacdca48cad5ba0b61560586c375890b,0x7dacfce9eacdca48cad5ba0b61560586c375890b,0,21000,64528088905,0x,1663225391,7.290597e+10,2.945451e+10,2
2,0x25a16381da87716c076f1fbb79f042c4fe0bdb3653d5...,15300,0x0ac7d9aa5886b66b8bdc217a2dd06d3393d6712c7486...,15537493,2,0x09e0781a47e9fd2b6258be09bd074f42022b9760,0x09e0781a47e9fd2b6258be09bd074f42022b9760,0,21014,64501336404,0x,1663225391,8.456100e+10,2.942775e+10,2
3,0x443ded6693eb3ba793d6fe106bf2cccaa1d23bd58470...,5488,0x0ac7d9aa5886b66b8bdc217a2dd06d3393d6712c7486...,15537493,3,0x479bc00624e58398f4cf59d78884d12fb515790a,0x57c1e0c2adf6eecdb135bcf9ec5f23b319be2c94,0,226340,59273594645,0x000200ed1554020788e6a0c2ddd26feeb64f039a2c41...,1663225391,7.195322e+10,2.420001e+10,2
4,0x711102faeba142f270b6a08d5be26059902c5d297da6...,96,0x0ac7d9aa5886b66b8bdc217a2dd06d3393d6712c7486...,15537493,4,0x6171a3bb38444ed794dac8fea431dd5a1dbfb523,0xc098b2a3aa256d2140208c3de6543aaef5cd3a94,98770135000000000,21000,58565000000,0x,1663225391,NaN,NaN,0

## 3. Query Token Data

### 3.1 Query All Token Transfers

In [ ]:
!ethereumetl export_token_transfers --start-block 15537293 --end-block 15537493 --provhttps://mainnet.infura.io/v3/API_kEY --output token_transfers.csv

2022-11-09 02:43:02,083 - ProgressLogger [INFO] - Started work. Items to process: 201.
Traceback (most recent call last):
  File "/usr/local/bin/ethereumetl", line 8, in <module>
    sys.exit(cli())
  File "/usr/local/lib/python3.7/dist-packages/click/core.py", line 1128, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/click/core.py", line 1053, in main
    rv = self.invoke(ctx)
  File "/usr/local/lib/python3.7/dist-packages/click/core.py", line 1659, in invoke
    return _process_result(sub_ctx.command.invoke(sub_ctx))
  File "/usr/local/lib/python3.7/dist-packages/click/core.py", line 1395, in invoke
    return ctx.invoke(self.callback, **ctx.params)
  File "/usr/local/lib/python3.7/dist-packages/click/core.py", line 754, in invoke
    return __callback(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/ethereumetl/cli/export_token_transfers.py", line 58, in export_token_transfers
    job.run()
  File "/usr/local/lib/python3.7/dist-packages/blockchainetl/jobs/base_job.py", line 30, in run
    self._end()
  File "/usr/local/lib/python3.7/dist-packages/ethereumetl/jobs/export_token_transfers_job.py", line 97, in _end
    self.batch_work_executor.shutdown()
  File "/usr/local/lib/python3.7/dist-packages/ethereumetl/executors/batch_work_executor.py", line 97, in shutdown
    self.executor.shutdown()
  File "/usr/local/lib/python3.7/dist-packages/ethereumetl/executors/fail_safe_executor.py", line 39, in shutdown
    self._check_completed_futures()
  File "/usr/local/lib/python3.7/dist-packages/ethereumetl/executors/fail_safe_executor.py", line 47, in _check_completed_futures
    future.result()
  File "/usr/lib/python3.7/concurrent/futures/_base.py", line 428, in result
    return self.__get_result()
  File "/usr/lib/python3.7/concurrent/futures/_base.py", line 384, in __get_result
    raise self._exception
  File "/usr/lib/python3.7/concurrent/futures/thread.py", line 57, in run
    result = self.fn(*self.args, **self.kwargs)
  File "/usr/local/lib/python3.7/dist-packages/ethereumetl/executors/batch_work_executor.py", line 63, in _fail_safe_execute
    work_handler(batch)
  File "/usr/local/lib/python3.7/dist-packages/ethereumetl/jobs/export_token_transfers_job.py", line 86, in _export_batch
    raise(e)
  File "/usr/local/lib/python3.7/dist-packages/ethereumetl/jobs/export_token_transfers_job.py", line 80, in _export_batch
    events = event_filter.get_all_entries()
  File "/usr/local/lib/python3.7/dist-packages/web3/_utils/filters.py", line 164, in get_all_entries
    log_entries = self._filter_valid_entries(self.eth_module.get_filter_logs(self.filter_id))
  File "/usr/local/lib/python3.7/dist-packages/web3/module.py", line 60, in caller
    null_result_formatters)
  File "/usr/local/lib/python3.7/dist-packages/web3/manager.py", line 201, in request_blocking
    null_result_formatters)
  File "/usr/local/lib/python3.7/dist-packages/web3/manager.py", line 171, in formatted_response
    raise ValueError(response["error"])
ValueError: {'code': -32005, 'message': 'query returned more than 10000 results'}

In [ ]:
df_token_transfers = pd.read_csv('./token_transfers.csv')
display(df_token_transfers.head())

,token_address,from_address,to_address,value,transaction_hash,log_index,block_number
0,0x7bc25283a29a3888cab4555ea86ff1a8c18cc90a,0x0000000000000000000000000000000000000000,0x7caa9f43822e288782e3e8797c8a16774c689b3d,7370,0x8fad774fd98423180fd70d205da74a97a7ecce9e2176...,0,15537493
1,0xba100000625a3754423978a60c9317c58a424e3d,0xdc2c21f1b54ddaf39e944689a8f90cb844135cc9,0x4a137fd5e7a256ef08a7de531a17d0be0cc7b6b6,706670242473581543022,0x333f03ef44bf9947c6b6d496826261f43f28b551808e...,1,15537493
2,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0x4a137fd5e7a256ef08a7de531a17d0be0cc7b6b6,0xdc2c21f1b54ddaf39e944689a8f90cb844135cc9,2824319950172341760,0x333f03ef44bf9947c6b6d496826261f43f28b551808e...,2,15537493
3,0xf0f74a3fda30ea87c9cf19d1f16db8e0c011075b,0x571b8569585483049ec3f0d7287b8e5b274332a0,0xf0c85e6d2d75e74ef0bb30f63c28ec3105fd6768,1822762000000000000000000,0x16d2fcf28e360afa244579b485186522aa91d564fb6b...,5,15537493
4,0xc00e94cb662c3520282e6f5717214004a7f26888,0x2faf487a4414fe77e2327f0bf4ae2a264a776ad2,0xa5c78f698392127644ce6492106c86b2f92f4d40,165311194320000000000,0x05e23f413211ec4df9fbd3c7b6d5ab1e7b49b339f50b...,9,15537493

In [ ]:
df = df_token_transfers[df_token_transfers.token_address=="0x7bc25283a29a3888cab4555ea86ff1a8c18cc90a"]
df.head()

,token_address,from_address,to_address,value,transaction_hash,log_index,block_number
0,0x7bc25283a29a3888cab4555ea86ff1a8c18cc90a,0x0000000000000000000000000000000000000000,0x7caa9f43822e288782e3e8797c8a16774c689b3d,7370,0x8fad774fd98423180fd70d205da74a97a7ecce9e2176...,0,15537493
21,0x7bc25283a29a3888cab4555ea86ff1a8c18cc90a,0x0000000000000000000000000000000000000000,0x8ed3670464936ec4507173222f9022aa55c365f5,7371,0x6f53dce148d29b74a8509199e6e37492dd17d0d044a4...,39,15537493
53,0x7bc25283a29a3888cab4555ea86ff1a8c18cc90a,0x0000000000000000000000000000000000000000,0x64cc2722481febcaa27afa12a52124209747e665,7372,0x31719e78e6ca5b7dff6ec8927d7dbd9564edab988037...,110,15537493
111,0x7bc25283a29a3888cab4555ea86ff1a8c18cc90a,0x9a0880acac6535dd97fb59e8126f6f04db1c880c,0x699ad5d72c409330e7a9fa04b509db67c9cbe7b6,1404,0xa39cd4e1875a68512108abd701c61ab5cdec7f53c082...,261,15537493
112,0x7bc25283a29a3888cab4555ea86ff1a8c18cc90a,0xecc417cdbdce37dda762eb873b836e45cd2ec1e6,0x699ad5d72c409330e7a9fa04b509db67c9cbe7b6,2201,0xa39cd4e1875a68512108abd701c61ab5cdec7f53c082...,263,15537493

### 3.1 Query a specific token transfers

*references*:

* Commond Documentations: https://ethereum-etl.readthedocs.io/en/latest/commands/
* Token Address: https://github.com/blockchain-etl/ethereum-etl-airflow/blob/master/dags/resources/stages/seed/data/token_amendments.csv
* More detailed: https://github.com/blockchain-etl/ethereum-etl-airflow
* Proof-of-Reserve: https://blog.chain.link/stablecoins-and-proof-of-reserve/

In [ ]:
#@title Token Address
token_address = "0x0000000000085d4780b73119b644ae5ecd22b376" #@param {type:"string"}

### USDP

In [ ]:
!ethereumetl export_token_transfers --start-block 15537293 --end-block 15537493 --provider-uri https://mainnet.infura.io/v3/API_kEY --output token_transfers_USDP.csv --tokens 0x8E870D67F660D95d5be530380D0eC0bd388289E1

2022-11-09 03:32:48,066 - ProgressLogger [INFO] - Started work. Items to process: 201.
2022-11-09 03:32:48,286 - ProgressLogger [INFO] - 101 items processed. Progress is 50%.
2022-11-09 03:32:48,296 - ProgressLogger [INFO] - 201 items processed. Progress is 100%.
2022-11-09 03:32:48,297 - ProgressLogger [INFO] - Finished work. Total items processed: 201. Took 0:00:00.230822.
2022-11-09 03:32:48,299 - CompositeItemExporter [INFO] - token_transfer items exported: 17

In [ ]:
df_token_transfers_USDP = pd.read_csv('./token_transfers_TrueUSD.csv')
display(df_token_transfers_USDP.head())

,token_address,from_address,to_address,value,transaction_hash,log_index,block_number
0,0x8e870d67f660d95d5be530380d0ec0bd388289e1,0xd83d78108dd0d1dffff11ea3f99871671a52488b,0x0000e0ca771e21bd00057f54a68c30d400000000,17576853345269697620009,0x39f085d88d1bf78e94de740578c20c478a9707509222...,22,15537309
1,0x8e870d67f660d95d5be530380d0ec0bd388289e1,0xd83d78108dd0d1dffff11ea3f99871671a52488b,0xf2f400c138f9fb900576263af0bc7fcde2b1b8a8,3480815948226281452986,0x1bb3be5326b6b1644ce0871c9c82a4ce23ba502011eb...,105,15537309
2,0x8e870d67f660d95d5be530380d0ec0bd388289e1,0xf2f400c138f9fb900576263af0bc7fcde2b1b8a8,0xe5859f4efc09027a9b718781dcb2c6910cac6e91,3480815948226281452986,0x1bb3be5326b6b1644ce0871c9c82a4ce23ba502011eb...,109,15537309
3,0x8e870d67f660d95d5be530380d0ec0bd388289e1,0xd83d78108dd0d1dffff11ea3f99871671a52488b,0xf2f400c138f9fb900576263af0bc7fcde2b1b8a8,14293862435057414594374,0x264f6e130120a28874ffac7f44ce38565024f0c06745...,231,15537309
4,0x8e870d67f660d95d5be530380d0ec0bd388289e1,0xf2f400c138f9fb900576263af0bc7fcde2b1b8a8,0x7bbd8ca5e413bca521c2c80d8d1908616894cf21,14293862435057414594374,0x264f6e130120a28874ffac7f44ce38565024f0c06745...,236,15537309